{% extends "layout.html.twig" %}

{% block navbarNavigation %}
    <a class="nav-item nav-link active disabled" href="./index.php?controller=evento&action=defaultView">Eventos <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="./index.php?controller=local&action=defaultView">Locales</a>
{% endblock %}

{% block cuerpo %}
    <table style="margin-top: 1%;" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Local</th>
        </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td><a href="#" class="eventoModal" idEvento="{{ evento['idEvento'] }}">{{ evento['nombre'] }}</a></td>
                <td>{{ evento['fecha'] }}</td>
                <td>
                    <a href="./index.php?controller=local&action=detailsLocal&id={{ evento['idLocal'] }}">{{ evento['localNombre'] }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "modalEvento.html.twig" %}
{% endblock %}

{% block script %}
    <script src="./view/js/eventoDefaultView.js" rel="script" type="text/javascript"></script>
{% endblock %}



