{% extends "layout.html.twig" %}
{% block cuerpo %}
    <div class="row">
        <div class="col-6">
            <input type="button" class="btn btn-primary" id="altaLocal" value="Alta Evento"/>
        </div>
        <div class="col-6">
            <input type="button" class="btn btn-info pull-right" id="editarLocal" value="Editar Local"/>
            <input type="button" class="btn btn-danger pull-right" id="eliminarLocal" value="Eliminar Local"/>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <form id="idLocal" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" type="text" id="nombre" required  value="{{ local['nombre'] }}" disabled>
                    <div class="invalid-feedback">
                        El nombre del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Direcci&oacute;n:</label>
                    <input class="form-control" type="text" id="direccion" required value="{{ local['direccion'] }}" disabled>
                    <div class="invalid-feedback">
                        La direcci&oacute;n del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono">Tel&eacute;fono:</label>
                    <input class="form-control" type="tel" id="telefono" required value="{{ local['telefono'] }}" disabled>
                    <div class="invalid-feedback">
                        El Tel&eacute;fono del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input class="form-control" type="email" id="email" value="{{ local['email'] }}" disabled>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select id="categoria" class="form-control" class="form-control" disabled>
                        {% set categorias = ["Museo", "Sala de conciertos", "Teatro", "Auditorio", "Palacio de congresos"] %}
                        {% for val in categorias %}
                            {% if val == local['categoria'] %}
                                <option value="{{ local['categoria'] }}" selected>{{ local['categoria'] }}</option>
                            {% else %}
                                <option value="{{ val }}">{{ val }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" id="modificarLocal" value="Confirmar">
                </div>
            </form>
        </div>
        <div class="offset-1 col-4">
        </div>
    </div>
{% endblock %}