{% extends "layout.html.twig" %}

{% block navbarNavigation %}
    <a class="nav-item nav-link" href="./index.php?controller=evento&action=defaultView">Eventos</a>
    <a class="nav-item nav-link" href="./index.php?controller=local&action=defaultView">Locales</a>
{% endblock %}

{% block cuerpo %}
    <div class="row">
        <div class="col-6">
            <!-- Esta opcion permite controlar si se puede eliminar o no un local, si no tiene eventos aparece el boton -->
            {% if local['eventos'] == 0 %}
                <form method="post" action="/index.php?controller=local&action=deleteLocal&id={{ local['idLocal'] }}">
                    <input type="button" class="btn btn-info" id="editarLocal" value="Editar Local"/>
                    <input type="button" class="btn btn-danger" name="deleteLocal" hidden/>
                    <input type="submit" class="btn btn-danger" id="eliminarLocal" value="Eliminar Local"/>
                </form>
            {% else %}
                <input type="button" class="btn btn-info" id="editarLocal" value="Editar Local"/>
            {% endif %}
        </div>
        <div class="col-6">
            <input type="button" class="btn btn-primary float-right" id="altaEvento" value="Alta Evento"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-5" id="datosDelLocal">
            <form id="idLocal" action="/index.php?controller=local&action=editLocal&id={{ local['idLocal'] }}" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" type="text" id="nombre" name="nombre" required  value="{{ local['nombre'] }}" disabled>
                    <div class="invalid-feedback">
                        El nombre del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Direcci&oacute;n:</label>
                    <input class="form-control" type="text" id="direccion" name="direccion" required value="{{ local['direccion'] }}" disabled>
                    <div class="invalid-feedback">
                        La direcci&oacute;n del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono">Tel&eacute;fono:</label>
                    <input class="form-control" type="tel" id="telefono" name="telefono" required value="{{ local['telefono'] }}" disabled>
                    <div class="invalid-feedback">
                        El Tel&eacute;fono del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input class="form-control" type="email" id="email" name="email" required value="{{ local['email'] }}" disabled>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select id="categoria" class="form-control" name="categoria" class="form-control" disabled>
                        {% set categorias = ["Museo", "Sala de conciertos", "Teatro", "Auditorio", "Palacio de congresos"] %}
                        {% for val in categorias %}
                            {% if val == local['categoria'] %}
                                <option value="{{ local['categoria'] }}" selected>{{ local['categoria'] }}</option>
                            {% else %}
                                <option value="{{ val }}">{{ val }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" id="cancelarLocal" value="Cancelar" hidden>
                    <input type="button" class="btn btn-info" id="altaLocal" value="Alta nuevo Local"/>
                    <input type="submit" class="btn btn-primary" id="modificarLocal" value="Confirmar" hidden>
                </div>
            </form>
        </div>
        <div class="col-7" id="listaEventos">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Lugar</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                {% for evento in eventos %}
                    <tr>
                        <td>{{ evento.fecha }}</td>
                        <td>{{ evento.nombre }}</td>
                        <td>{{ evento.lugar }}</td>
                        <td id="{{ evento.idEvento }}">
                            <input type="button" class="btn btn-info botonEditar" value="Editar"/>
                            <input type="button" class="btn btn-danger botonEliminar" value="Eliminar"/>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include "modalEvento.html.twig" %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="./view/js/local.js" rel="script"></script>
{% endblock %}
